/* regole generali */

*{ 
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}


#container{ 
    margin: auto;
    width: 70%;
}

/* header*/


header{ 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
h1{ 
    color:rgba(229,49,112,255);
    
    
    margin-bottom: 30px;
}



/*main*/

.row::after{ 
    content: "";
    display: table;
    clear: both;
}

.cards{
    background-color: black;
    color:white;
    width: calc(100%/3 - 20px);
    float:left;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    
    

}

a{ 
    color: rgba(105,200,227,255);
    text-decoration: none;
    
    
}

img{ 
    float:left;
    height: 70px;
    margin-right: 10px;
    
    
}

.text{ 
    padding: 10px;
}

